nav{background-color: #FEE231;}

footer{background-color: #4AA77C;
color: white;
}

div{display: flex;}

.mentionslegales{margin-left: 30px;}


.permanentes {background-image: url(images/ENCART-02.png);
    width:550px; height:550px;
    background-size: cover;}

.newsletter{margin-left: 120px;}
.ponctuelles{background-image: url(images/ENCART-01.png);
    width:550px; height:550px;
    background-size: cover;
    margin-left: 100px;}

.permanentes, .ponctuelles{
    display: flex;
    align-items: end;
}

.permanentes article, .ponctuelles article{

}
.formulaire{margin-left: 267px;}

.pieddepage{margin: 60px;}

.contact{display: flex;}

.encarts{display: flex;
    justify-content: center;
}

h1{ text-align: center;}

.présentation{text-align: center;}

ul{display: flex;
padding-top: 20px;
padding-bottom: 20px;
list-style-type: none;
margin-left: 5px;
}

li{margin-right: 40px;}

body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.logo{margin-left: 20px;}

input{margin-bottom: 10px;}

.filtrespermanents{margin-left: 160px;}

.filtre{margin-right: 10px;}
